# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Node / frontend
node_modules/
dist/
build/
.npm/
.yarn/

# Docker
*.log
docker-data/
docker-volume/
*.pid

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Env / secrets (VERY IMPORTANT)
.env
.env.*
*.secret
*.key
